<main class="text-bg-light">
  <div class="row">
    <div class="col-12 mb-5">
      <div class="nav nav-tabs">
        <div class="nav-item">
          <a href="#" class="nav-link active">Main</a>
          </div>
        <div class="nav-item">
          <a href="#" class="nav-link">Catalog</a>
          </div>   
        <div class="nav-item">
          <a href="/skills" class="nav-link">Shop list</a>
        </div>
      </div>
    </div>

    <div class="col-5 pe-5">
      <div class="card">
        <div class="card-body">
          <div class="nav flex-column">
            <div class="nav-item mb-3">
              <div class="card">
                <a href="#" class="nav-link">Link</a>
              </div>
            </div>

            <div class="nav-item mb-3">
              <div class="card">
                <a href="/skills" class="nav-link">FAQ page</a>
              </div>
            </div>
      
            <div class="nav-item mb-3">
              <div class="card">
                <a href="#" class="nav-link disabled">Link</a>
              </div>
            </div>
      
          </div>
        </div>
      </div>
    </div>

    <div class="col-7">
      <div class="row">
        <div class="col-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="#">PC</a>
            </li>
            <li class="breadcrumb-item">
              <a href="#">Ноутбук</a>
            </li>
            <li class="breadcrumb-item">
              MacBook
            </li>
          </ol>
        </div>

        <div class="col-12">
          <h6>Hollo world! <span class="badge text-bg-primary rounded-pill">NEW</span></h6>
          <button class="btn btn-primary rounded-pill my-2 ">Click me!</button>
          <div class="alert alert-primary m-0">This is important info!</div>
        </div>
      </div>
    </div>
  </div>




  {{!-- <div class="row gy-2">
    <section class="col-12">
      <div class="card">
        <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product photo">
        <div class="card-body">
          <h5 class="card-title text-bg-primary">Product #12355</h5>
          <p class="text-bg-secondary">Монітор Dell 27 4K USB-C Hub P2723QE (210-BDFZ)</p>
          <a href="/summary" class="btn btn-primary">Open</a>
        </div>
      </div>
    </section>

    <section class="col-3">
      <div class="card">
        <div class="card-header">
          <div class="card-title display-6">Menu</div>
        </div>
        <ul class="list-group">
          <li class="list-group-item"><a href="" class="btn btn-link">Home page</a></li>
          <li class="list-group-item"><a href="" class="btn btn-link">Summary page</a></li>
          <li class="list-group-item"><a href="" class="btn btn-link">Skills page</a></li>
        </ul>
        <div class="card-footer">
          <button class="btn btn-dark btn-sm">Update list</button>
        </div>
      </div>
    </section>

    <section class="col-9">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class="text-bg-success">#id</th>
            <th>name</th>
            <th>age</th>
          </tr>
        </thead>
      
        <tbody>
          <tr>
            <th>1</th>
            <td>Jhon</td>
            <td>35</td>
          </tr>
          <tr>
            <th>2</th>
            <td>Mac</td>
            <td>28</td>
          </tr>
          <tr>
            <th>3</th>
            <td>Luccy</td>
            <td>30</td>
          </tr>
        </tbody>
      </table>
    </section>

    <section class="col-12">
      <div class="row g-2">
        <div class="col-3">
          <div class="card text-bg-success">
            <div class="card-header text-center">Header</div>
            <div class="card-body">
              <h6 class="card-title">Title</h6>
              <p>This is conten our box</p>
              <button class="btn btn-light">Click!</button>
            </div>
            <div class="card-footer text-center">Footer</div>
          </div>
        </div>
      
        <div class="col-3">
          <div class="card text-bg-success">
            <div class="card-header text-center">Header</div>
            <div class="card-body">
              <h6 class="card-title">Title</h6>
              <p>This is conten our box</p>
              <button class="btn btn-light">Click!</button>
            </div>
            <div class="card-footer text-center">Footer</div>
          </div>
        </div>
      
        <div class="col-3">
          <div class="card text-bg-success">
            <div class="card-header text-center">Header</div>
            <div class="card-body">
              <h6 class="card-title">Title</h6>
              <p>This is conten our box</p>
              <button class="btn btn-light">Click!</button>
            </div>
            <div class="card-footer text-center">Footer</div>
          </div>
        </div>
      
        <div class="col-3">
          <div class="card text-bg-success">
            <div class="card-header text-center">Header</div>
            <div class="card-body">
              <h6 class="card-title">Title</h6>
              <p>This is conten our box</p>
              <button class="btn btn-light">Click!</button>
            </div>
            <div class="card-footer text-center">Footer</div>
          </div>
        </div>
      </div>
    </section>
  </div> --}}  
</main>