<main>
    <h3>Список сторінок</h3>
    <p>Я пока що не знаю що сюди писати</p>
    <ul style=" list-style: none; " class="ps-0">
        <li class="mb-2">
            <a class="btn btn-primary" href="/car">Car</a>
        </li>
        <li class="mb-2">
            <a class="btn btn-primary" href="/education">Education</a>
        </li>
        <li class="mb-2">
            <a class="btn btn-primary" href="/facebook">Facebook</a>
        </li>
        <li class="mb-2">
            <a class="btn btn-primary" href="/js">Js</a>
        </li>
        <li class="mb-2">
            <a class="btn btn-primary" href="/mac">Mac</a>
        </li>
        <li class="mb-2">
            <a class="btn btn-primary" href="/person">Person</a>
        </li>
        <li class="mb-2">
            <a class="btn btn-primary" href="/program">Program</a>
        </li>
        <li class="mb-2">
            <a class="btn btn-primary" href="/shopcart ">Shopcart</a>
        </li>
        <li class="mb-2">
            <a class="btn btn-primary" href="/shopcatalog">Shopcatalog</a>
        </li>
        <li class="mb-2">
            <a class="btn btn-primary" href="/shophome">Shophome</a>
        </li>
        <li class="mb-2">
            <a class="btn btn-primary" href="/shopnews">Shopnews</a>
        </li>
        <li class="mb-2">
            <a class="btn btn-primary" href="/shoporder">Shoporder</a>
        </li>
        <li class="mb-2">
            <a class="btn btn-primary" href="/shopproduct">Shopproduct</a>
        </li>
        <li class="mb-2">
            <a class="btn btn-primary" href="/shopprofile">Shopprofile</a>
        </li>
        <li class="mb-2">
            <a class="btn btn-primary" href="/shopreview">Shopreview</a>
        </li>
        <li class="mb-2">
            <a class="btn btn-primary" href="/skills">Skills</a>
        </li>
        <li class="mb-2">
            <a class="btn btn-primary" href="/summary">Summary</a>
        </li>
        <li class="mb-2">
            <a class="btn btn-primary" href="/task21">Task21</a>
        </li>
        <li class="mb-2">
            <a class="btn btn-primary" href="/task22">Task22</a>
        </li>
        <li class="mb-2">
            <a class="btn btn-primary" href="/task31">Task31</a>
        </li>
        <li class="mb-2">
            <a class="btn btn-primary" href="/web">Web</a>
        </li>
        <li class="mb-2">
            <a class="btn btn-primary" href="/work">Work</a>
        </li>
    </ul>
</main>