{{#with data}}
<header class="col-12 mb-4">
  <div class="card col-12">
    <div class="row">
      <h1 class="col-4 mx-2">Logo</h1>
      <div class="nav col text-end">
        
        {{#each links}}
        <div class="nav-item m-2 col">
          <a class="nav-link " href="{{href}}">{{text}}</a>
        </div>
        {{/each}}

        <div class="item m-2 col">
          <a class="nav-link disabled" href="#">Disabled</a>
        </div>
      </div>
      </div>
    </div>
  </div>
</header>
{{/with}}