<div>
  <ul>
    <li>
      <div>Id: {{id}}</div>
      <div>Name: {{name}}</div>
      <div>Gender: {{gender}}</div>
      <div>Age: {{age}}</div>
    </li>
    {{#if userLine}}
      <hr>
    {{/if}}
  </ul>
</div>
